@import 'variables.css';
@import 'normalize.css';
@import 'lib.css';
@import 'landing.css';
@import 'mid.css';
@import 'footer.css';
body {
  margin: 0;
  padding: 0;
  /* background-color: green; */
  /* height: 100%; */
  width: 100vw;
}
html {
  background-color: white;
  margin: 0px !important;
  padding: 0 !important;
  /* min-height: 0; */
  width: 100vw;
}
