body {
  min-width: 100vw;
  /* position: absolute; */
}
body > header {
  position: absolute;
  width: 100%;
  height: 10vh;
  background-color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body > header > #logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 5%;
  width: 40%;
}
body > header nav {
  display: none;
  width: 80%;
}

body > nav {
  position: absolute;
  width: 80%;
  height: 67vh;
  top: 10%;
  background: var(--secondary-color);
  left: 50%;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  transform: translateX(-50%);
  padding: 10%;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 black;
}
body > nav ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 40%;
  justify-content: space-around;
  width: 100%;
}
hr {
  margin-top: 30px;
  width: 96%;
  /* height: 10px; */
  border: 1px solid hsl(257, 21%, 43%);
  background-color: hsl(257, 27%, 26%);
}
body > nav ul:first-of-type {
  height: 50%;
  justify-content: space-around;
}

body > nav button {
  color: white;
  height: 50px;
  width: 95%;
  /* font-size: 1.1em; */
}
body > nav button.btn_primary {
  font-size: 1.4em;
}
body > nav li {
  font-size: 1.5em;
  color: white;
}
body > header div nav ul {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
body > header .cta {
  margin-right: 10%;
  width: 12%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  display: none;
}
#close {
  display: none;
}
.nav_control {
  display: inline-block;
}
.nav_control button {
  height: 20px;
  width: 20px;
  margin-right: 30px;
}

#landing {
  height: 130vh;
  padding-bottom: 70px;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
#landing > div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  justify-content: space-between;
}
#landing #hero {
  overflow: hidden;
  width: 100%;
}
#landing #hero img {
  height: auto;
  max-width: 120%;
}

#landing article {
  width: 100%;
  text-align: center;
}
#landing p {
  margin-bottom: 20px;
}
@media (min-width: 450px) {
  body > header nav {
    display: inline-block;
  }
  body > header .cta {
    display: flex;
  }
  #landing {
    height: 100vh;
  }
  #landing #hero {
    overflow: hidden;
    width: 45%;
  }
  #landing #hero img {
    height: auto;
    max-width: 100%;
  }
  #landing > div {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }
  #landing article {
    width: 30%;
    text-align: start;
    margin-left: 10%;
  }
  .nav_control {
    display: none;
  }

  body > nav {
    position: absolute;

    display: none;
  }
}
